@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$color-primary: $indigo;
$color-primary-500: $indigo-500;
$color-primary-700: $indigo-700;
$color-primary-800: $indigo-800;
$color-secondary: $blue;
$color-secondary-800: $blue-800;
$dark-background-color: $body-bg-dark;
$dark-background-secundary-color: $body-secondary-color-dark