@import '../../../style/settings/main.scss';

#occupation-title {

}
#btn-occupation {
    border: 1px solid $color-primary;
    color: #fff;
}
#btn-occupation:hover {
       background-image:linear-gradient(45deg, $color-primary , $color-primary-800 )
}